{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ user.username }}</h2>
      {% if user.first_name and user.last_name %}
        <p>{{ user.first_name }} {{ user.last_name }}</p>
      {% endif %}
    </div>
  </div>

{% if user == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:user_update' %}">Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">Emails</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}